
{% for comment in comments %}
<div>
    
         
        
        <div class="comment-text-div">
            
            <div class="input-group">
                <span class="input-group-text comment-span" id="basic-addon1"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                <p class=" comment-title">{{comment.task.name}}</p>
                 
            </div>
            <p class="comm-input ms-3 mt-2 mb-2" style="width: auto;">{{comment.text}}</p>
            
            
            
        </div>
        <p class=" task-small">{{comment.created_by}} - {{comment.created_on.strftime('%A %d %B, %Y')}}</p>
        
    </div>   
{% endfor %}

    


