<h4 class="deliverable-title"> {{deliverable.name}} <span class="revision"> Ver {{deliverable.revision}}</span> </h4>


<div class="container-fluid">
    <div class="row align-items-start taskbox">
        <div class="col-3">
            {% for doc in deliverable.name.splitlines() %}
             <p>{{doc}}</p>
             {% endfor %}
            
        </div>
        <div class=" col-3">
        
            {% for task in deliverable.Tasks %}
            <div class="row">
                {% if task_active != task.id and task.completed %}
                <p class="h4 ms-2" style="color: #979283; font-weight: bold ">{{task.name}}</p>
                <p class="align-items-start ms-2 task-small" style="color: rgb(255, 255, 255)">by {{task.created_by}}</p>
                <p class="align-items-start ms-2 task-small" style="color: rgb(206, 206, 206); line-height: 0px;">{{task.created_on.strftime('%A %d %B, %Y - %H:%m:%S')}}</p>
                
                {% elif task_active != task.id %}
                <p class="tasktitle" style="color: #979283;">{{task.name}}</p>
               {% else %}
                <p class="tasktitle">{{task.name}}</p>        
                {% endif %}

            </div>
            {% endfor %}
        </div>

        <div class="col-6 taskcol">
            {% for task in deliverable.Tasks %}
        
            
            
            <div class="row">
                {% if task.id == task_active -%}
                <div class="col-10">
                    <div class="align-items-start tasktitle">{{task.name}}</div>
                </div>
                <div class="col2">
                    <div class="clearfix">
                        <div class="spinner-grow text-danger float-end me-1 mb-2" role="status"></div>
                        <span class="strong float-end me-2">Working</span>
                    </div>

                </div>
                <div class="row align-items-start taskdescription">{{task.description}}</div>
                    
                    
                    {% if task.input_required != ""  %}
                        {% for del in deliverable.name.splitlines() %}
                        <form class="col ms-3 mb-3 mb-lg-0 me-lg-3" hx-post="/isa/task/completed/{{task.id}}" hx-target="#new-deliverable">
                            <div class="input-group">
                                <span class="input-group-text text-bg-secondary task-input" id="basic-addon1">{{task.input_required}} for {{del}}</span>
                            <input type="text" name="input_required_{{del}}" placeholder="{{task.input_required}}" class="form-control form-control-dark text-bg-dark nav-search-input task-input" required>
                            </div>
                        {% endfor %}
                        <hr>
                            <div class="col-8" id="comments-task{{task.id}}"></div>
                            <button type="button submit" class="btn btn-success task-btn mt-5 mb-5" >Done</button>
                            
                        
                    
                    
                    {% else%}
                    <div>
                        <hr>
                        <div class="col-8" id="comments-task{{task.id}}"></div>
                    </div>
                    <form class="col ms-3 mb-3 mb-lg-0 me-lg-3">

                    <button type="button" class="btn btn-success task-btn mb-5 mt-5" hx-post="/isa/task/completed/{{task.id}}" hx-target="#new-deliverable">Done</button>
                    </form>
                    {% endif -%}
                    </form>
                    
                    
        
                        
                    <form> 
                        <div type="hidden" hx-get="/isa/comments/{{task.id}}" hx-target="#comments-task{{task.id}}" hx-trigger="load" ></div>
                    </form>
                

                
            
        {% elif task.completed -%}
        
                <div class="row"">
                    <div class="col">
                        <div class="row align-items-start tasktitle" style="color: rgb(255, 255, 255)">{{task.name}} | {{task.created_by}}</div>
                        <div class="row align-items-start ms-4 " style="color: rgb(255, 255, 255)">{{task.created_on.strftime('%A %d %B, %Y - %H:%m:%S')}}</div>
                        <hr>
                    </div>
                    
                </div>
                                
            

        {% endif -%} 
    </div> 
    {% endfor %}
        </div>
            
            
    </div>   
</div>

    
