
<header class="p-3 nav-cst">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
        
        <img src="{{url_for('static',filename='images/Q_logo.png')}}" alt="Q" class="q-logo">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary"><i class="fa fa-user-circle" aria-hidden="true"></i>
            {{g.user}}</a></li>
          <li><a href="/mytimesheetview/list/" class="nav-link px-2 text-white">Timesheet</a></li>
        </ul>

        <form id="search_form" >
          
        </form>

        <div class="text-end">
          
          
            <span class="badge nav-cst ">
                <div id="working-time" hx-get="/isa/workingtime" hx-trigger="every 5s" class="text-center fs-4">
                    0:00:00</div>
            </span>
            
        </div>
        <form action="/isa/ts/exit">
          <button type="submit" class="btn btn-warning">Exit</button>
        </form>
      </div>
    </div>
  </header>