
<div id="projecttasks" >
{%for project in projects%}

<h4>{{project.name}}</h4>

<div class="list-group">
    {%for order in project.Orders%}
        {%for projecttask in order.ProjectTasks%}
            {% if g.user in projecttask.users -%}
                {% if projecttask.id != id -%}
                
                <button type="button" hx-get="/isa/projecttask/{{projecttask.id}}" hx-target="#projecttasks" hx-swap="innerHTML swap:0.5s" class="btn btn-secondary d-flex justify-content-between btn-prj align-items-center ">
                    {{projecttask.name}}
                    <span class="badge badge-primary badge-pill bg-dark" hx-get="/isa/projecttask/timesheet/{{projecttask.id}}" hx-target="this" hx-swap="innerHTML swap:0.5s" hx-trigger="load">ND</span>
                </button>
                
                
                {% else -%}
                <button type="button" hx-get="/isa/projecttask/{{projecttask.id}}" hx-target="#projecttasks" hx-swap="innerHTML swap:0.5s" class="btn btn-warning d-flex justify-content-between btn-prj align-items-center">
                    {{projecttask.name}}
                    <span class="badge badge-primary badge-pill bg-dark" hx-get="/isa/projecttask/timesheet/{{projecttask.id}}" hx-target="this" hx-swap="innerHTML swap:0.5s" hx-trigger="every 5s">ND</span>
                </button>
                
                
                <div type="hidden" hx-get="/isa/search/form/{{projecttask.id}}" hx-target="#search_form" hx-swap="outerHTML swap:0.5s" hx-trigger="load"></div>
                <form type="hidden" hx-post="/isa/search/pending2/1" hx-target="#new-deliverable" hx-swap="innerHTML swap:0.5s" hx-trigger="load">
                    <input type="hidden" name="name" value="">
                    <input type="hidden" name="projecttask_id" value="{{projecttask.id}}">
                </form>

                {% endif -%}
            {% endif -%}
        {%endfor%}
    {%endfor%}
    </div>
    <hr>
{%endfor%} 
</div>  

